<h1>New client_workout</h1>

<% form_for(@client_workout) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client_name %><br />
    <%= f.text_field :client_name %>
  </p>
  <p>
    <%= f.label :trainer %><br />
    <%= f.text_field :trainer %>
  </p>
  <p>
    <%= f.label :duration_mins %><br />
    <%= f.text_field :duration_mins %>
  </p>
  <p>
    <%= f.label :date_of_workout %><br />
    <%= f.date_select :date_of_workout %>
  </p>
  <p>
    <%= f.label :paid_amount %><br />
    <%= f.text_field :paid_amount %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', client_workouts_path %>
